SQL1_ARTIST RCDATA "DB\\Schema1\\[ARTIST].sql"
SQL1_ARTIST_EVENT RCDATA "DB\\Schema1\\[ARTIST_EVENT].sql"
SQL4_BACKUP RCDATA "DB\\Schema4\\[BACKUP].sql"
SQL2_BACKUP RCDATA "DB\\Schema2\\[BACKUP].sql"
SQL1_COMMISSION RCDATA "DB\\Schema1\\[COMMISSION].sql"
SQL1_COMMISSION_EVENT RCDATA "DB\\Schema1\\[COMMISSION_EVENT].sql"
SQL1_COMMUNICATION RCDATA "DB\\Schema1\\[COMMUNICATION].sql"
SQL1_CONFIG RCDATA "DB\\Schema1\\[CONFIG].sql"
SQL1_DEFAULT RCDATA "DB\\Schema1\\[DEFAULT].sql"
SQL1_MANDATOR RCDATA "DB\\Schema1\\[MANDATOR].sql"
SQL1_PAYMENT RCDATA "DB\\Schema1\\[PAYMENT].sql"
SQL1_QUOTE RCDATA "DB\\Schema1\\[QUOTE].sql"
SQL2_STATISTICS RCDATA "DB\\Schema2\\[STATISTICS].sql"
SQL1_STATISTICS RCDATA "DB\\Schema1\\[STATISTICS].sql"
SQL1_TEXT_BACKUP RCDATA "DB\\Schema1\\[TEXT_BACKUP].sql"
SQL1_UPLOAD RCDATA "DB\\Schema1\\[UPLOAD].sql"
SQL1_VW_ARTIST RCDATA "DB\\Schema1\\[vw_ARTIST].sql"
SQL1_VW_ARTIST_EVENT RCDATA "DB\\Schema1\\[vw_ARTIST_EVENT].sql"
SQL2_VW_BACKUP RCDATA "DB\\Schema2\\[vw_BACKUP].sql"
SQL3_VW_COMMISSION RCDATA "DB\\Schema3\\[vw_COMMISSION].sql"
SQL1_VW_COMMISSION RCDATA "DB\\Schema1\\[vw_COMMISSION].sql"
SQL2_VW_COMMISSION RCDATA "DB\\Schema2\\[vw_COMMISSION].sql"
SQL1_VW_COMMISSION_EVENT RCDATA "DB\\Schema1\\[vw_COMMISSION_EVENT].sql"
SQL1_VW_COMMUNICATION RCDATA "DB\\Schema1\\[vw_COMMUNICATION].sql"
SQL1_VW_CONFIG RCDATA "DB\\Schema1\\[vw_CONFIG].sql"
SQL2_VW_CONFIG RCDATA "DB\\Schema2\\[vw_CONFIG].sql"
SQL1_VW_MANDATOR RCDATA "DB\\Schema1\\[vw_MANDATOR].sql"
SQL1_VW_PAYMENT RCDATA "DB\\Schema1\\[vw_PAYMENT].sql"
SQL1_VW_QUOTE RCDATA "DB\\Schema1\\[vw_QUOTE].sql"
SQL1_VW_STAT_RUNNING_COMMISSIONS RCDATA "DB\\Schema1\\[vw_STAT_RUNNING_COMMISSIONS].sql"
SQL1_VW_STAT_SUM_MONTHS RCDATA "DB\\Schema1\\[vw_STAT_SUM_MONTHS].sql"
SQL1_VW_STAT_SUM_YEARS RCDATA "DB\\Schema1\\[vw_STAT_SUM_YEARS].sql"
SQL1_VW_STAT_TEXT_EXPORT RCDATA "DB\\Schema1\\[vw_STAT_TEXT_EXPORT].sql"
SQL1_VW_STAT_TOP_ARTISTS RCDATA "DB\\Schema1\\[vw_STAT_TOP_ARTISTS].sql"
SQL1_VW_STATISTICS RCDATA "DB\\Schema1\\[vw_STATISTICS].sql"
SQL1_VW_TEXT_BACKUP RCDATA "DB\\Schema1\\[vw_TEXT_BACKUP].sql"
SQL2_VW_TEXT_BACKUP_GENERATE RCDATA "DB\\Schema2\\[vw_TEXT_BACKUP_GENERATE].sql"
SQL1_VW_UPLOAD RCDATA "DB\\Schema1\\[vw_UPLOAD].sql"
HELP_ARTISTCLIENTWINDOW_MD RCDATA "HELP_ArtistClientWindow.md"
HELP_COMMISSIONWINDOW_MD RCDATA "HELP_CommissionWindow.md"
HELP_DATABASEWINDOW_MD RCDATA "HELP_DatabaseWindow.md"
HELP_MANDATORWINDOW_MD RCDATA "HELP_MandatorWindow.md"
HELP_STATISTICS_MD RCDATA "HELP_Statistics.md"
HELPSTYLE_CSS RCDATA "HelpStyle.css"
README_MD RCDATA "README.md"
