HELP_ARTISTCLIENTWINDOW_MD RCDATA "HELP_ArtistClientWindow.md"
HELP_COMMISSIONWINDOW_MD RCDATA "HELP_CommissionWindow.md"
HELP_DATABASEWINDOW_MD RCDATA "HELP_DatabaseWindow.md"
HELP_MANDATORWINDOW_MD RCDATA "HELP_MandatorWindow.md"
HELP_STATISTICS_MD RCDATA "HELP_Statistics.md"
HELPSTYLE_CSS RCDATA "HelpStyle.css"
README_MD RCDATA "README.md"
SQL_ARTIST RCDATA "DB\\ARTIST.sql"
SQL_ARTIST_EVENT RCDATA "DB\\ARTIST_EVENT.sql"
SQL_BACKUP RCDATA "DB\\BACKUP.sql"
SQL_COMMISSION RCDATA "DB\\COMMISSION.sql"
SQL_COMMISSION_EVENT RCDATA "DB\\COMMISSION_EVENT.sql"
SQL_COMMUNICATION RCDATA "DB\\COMMUNICATION.sql"
SQL_CONFIG RCDATA "DB\\CONFIG.sql"
SQL_MANDATOR RCDATA "DB\\MANDATOR.sql"
SQL_PAYMENT RCDATA "DB\\PAYMENT.sql"
SQL_QUOTE RCDATA "DB\\QUOTE.sql"
SQL_STATISTICS RCDATA "DB\\STATISTICS.sql"
SQL_UPLOAD RCDATA "DB\\UPLOAD.sql"
SQL_VW_ARTIST RCDATA "DB\\vw_ARTIST.sql"
SQL_VW_ARTIST_EVENT RCDATA "DB\\vw_ARTIST_EVENT.sql"
SQL_VW_BACKUP RCDATA "DB\\vw_BACKUP.sql"
SQL_VW_COMMISSION RCDATA "DB\\vw_COMMISSION.sql"
SQL_VW_COMMISSION_EVENT RCDATA "DB\\vw_COMMISSION_EVENT.sql"
SQL_VW_COMMUNICATION RCDATA "DB\\vw_COMMUNICATION.sql"
SQL_VW_CONFIG RCDATA "DB\\vw_CONFIG.sql"
SQL_VW_MANDATOR RCDATA "DB\\vw_MANDATOR.sql"
SQL_VW_PAYMENT RCDATA "DB\\vw_PAYMENT.sql"
SQL_VW_QUOTE RCDATA "DB\\vw_QUOTE.sql"
SQL_VW_STATISTICS RCDATA "DB\\vw_STATISTICS.sql"
SQL_VW_UPLOAD RCDATA "DB\\vw_UPLOAD.sql"
